.main {
  border: 2px solid black;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  /* position: relative; */
}

.box-1 {
  /* position: absolute; */
  height: 150px;
  width: 150px;
  background-color: red;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.box-1:hover {
  transform: translateY(150px);
}

.box-2 {
  height: 150px;
  width: 150px;
  background-color: blue;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transform-origin: bottom left;
}

.box-2:hover {
  transform: rotate(90deg);
}